@model IEnumerable<MovieRateCRUD.Models.Movie>

@{
    ViewData["Title"] = "Top 10 Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Top 10 movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model) {
            <a class="button"               
                asp-action="Details"
                asp-route-id="@item.Id"
                >
                <img src="@Html.DisplayFor(modelItem => item.Poster)" alt="Cover" width="100px" />
            </a>
        }
    </tbody>
</table>
